* {
    color: #0A0A0A;
    color: #121212;
    color: #15292B;
    color: #161618;
    color: #181818;
    color: #192734;
    color: #212121;
    color: #212124;
    color: #22303C;
    color: #242526;
    color: #282828;
    color: #3A3B3C;
    color: #404040;
}